body{
    display: flex;
    background-image: url("./image/bgimg.jpg");
    background-size: 100% 100vh;
}
.color{
    background-color:grey;
    width: 70vh;
    height: 80vh;;

}
img{
    width: 100%;
    height: 100%;
}
.memory-card{
    
    position: relative;
    width:120px !important;
    height:120px !important;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.game-card{
    perspective: 1000px;
}
.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face,
.back-face{
    position: absolute;
    backface-visibility: hidden;
    
    }
